body {
	font-family:Source Sans Pro, Helvetica, Arial;
	background:#BD2B36;
	font-weight:300;
}

h3 {
		font-weight:bold;
		text-transform:uppercase;
		letter-spacing:4px;
		text-align:center;
	}

#header {
	text-align:center;
	background:#F5F5F5;
	padding-bottom:20px;
}

	#header #mp-logo {
		width:150px;
	}

	#header #mp-company-name {
		font-family:"Roboto Slab", "Bookman Old Style";
		font-weight:bold;
		margin:0;
	}
	
	#header #mp-company-descriptor {
		letter-spacing:2px;
	}
	
	#header #mp-parent-company {
		margin-bottom:0;
	}
	
		#header #mp-parent-company span {
			font-weight:bold;
		}

	#header a {
		text-decoration:none;
		color:#222;
	}

	#header a:hover {
		color:#BD2B36;
	}
	
	#header #navbar {
		border-top: 1px solid #E1E1E1;
		margin:20px auto 0 auto;
	}

#header #mininavbar {
		margin:0 auto 0 auto;
	}

	#header-title td {
		border:none;
		text-align:center;
	}
	
	#header-title h1, h3, h6 {
		margin:0px;
		padding-bottom:0px;
	}
	
#intro {
	background:#212121;
	color:#fff;
	padding-top:50px;
}

	#intro .row {
		margin-top:50px;
		margin-bottom:50px;
	}
	
	#intro .row .four.columns {
		text-align:center;
	}
	
	#intro .row .four.columns h1 {
		font-family:Roboto Slab;
		font-weight:bold;
		color:#BD2B36;
		font-size:5em;
		margin-bottom:0;
	}
	
	#intro .row .four.columns h4 {
		text-transform:uppercase;
	}
	
#business-areas {
	background:#F5F5F5;
	padding-top:50px;
		padding-bottom:50px;
}

#proj {
	background:#F5F5F5;
	padding-top:50px;
		padding-bottom:50px;
}

	#proj img {
		width:100%;
		border:5px solid #212121;
	}
	
#cert {
	background:#BD2B36;
	padding-top:50px;
	color:#f5f5f5;
		padding-bottom:50px;
}

	#cert .row {
		text-align:center;
	}

	#cert img {
		height:150px;
	}
	
#contact {
	background:#212121;
	color:#fff;
	padding-top:50px;
	text-align:center;
	padding-bottom:50px;
}

	#contact a {
		color:#fff;
		font-weight:bold;
		text-decoration:none;
	}
	
	#contact a:hover {
		color:#BD2B36;
	}

#proj .customer-logos.slider img {
	border:0px;
}