body {
	font-family:Source Sans Pro, Helvetica, Arial;
	background:#BD2B36;
	font-weight:300;
}

h3 {
		font-weight:bold;
		text-transform:uppercase;
		letter-spacing:4px;
		text-align:center;
	}
	
button[disabled] {
    border-color: #ccc;
    color: #ccc;
    text-shadow:none;
}

#header {
	text-align:center;
	background:#F5F5F5;
	padding-bottom:20px;
}

	#header #mp-logo {
		width:150px;
	}
	
	#header #op-logo {
		width:150px;
		padding-right:10px;
	}

	#header #mp-company-name {
		font-family:"Roboto Slab", "Bookman Old Style";
		font-weight:bold;
		margin:0;
	}
	
	#header #op-company-name {
		font-family:"Roboto Slab", "Bookman Old Style";
		font-weight:bold;
		margin-top:30px;
		margin-bottom:5px;
	}
	
	#header #mp-company-descriptor {
		letter-spacing:2px;
	}
	
	#header #op-company-descriptor {
		margin-bottom:0;
	}
	
	#header #mp-parent-company {
		margin-bottom:0;
	}
	
		#header #mp-parent-company span {
			font-weight:bold;
		}

	#header a {
		text-decoration:none;
		color:#222;
	}

	#header a:hover {
		color:#BD2B36;
	}
	
	#header #navbar {
		border-top: 1px solid #E1E1E1;
		margin:20px auto 0 auto;
	}
	
	#header #header-table {
		margin:0 auto 0 auto;
	}
	
		#header #header-table td {
			padding:0;
			text-align:center;
			border-bottom:none;
		}
	
	#header #nav-bar {
		max-width:555px;
		margin-left:auto;
		margin-right:auto;
		padding-top:30px;
	}
	
		#header #nav-bar a {
			background:#BD2B36;
			border-color: #BD2B36;
			color: #F5F5F5;
			width:100%;
		}
		
		#header #nav-bar a:hover {
			background:#E53935;
			border-color: #BD2B36;
			color: #F5F5F5;
		}
		
		
#page-contents {
	padding:10px 0 100px 0;
	background:#F5F5F5;
}

	#page-contents #page-title {
		font-weight:bold;
		text-transform:uppercase;
		margin-top:40px;
		text-align:center;
	}
	
	#page-contents #page-date{
		text-align:center;
	}

	#page-contents a {
		color:#BD2B36;
		text-decoration:none;
		font-weight:bold;
	}
	
	#page-contents a:hover {
		color:#E37364;
	}
	
	#page-contents form input.button{
		background:#BD2B36;
		border-color: #BD2B36;
		color: #F5F5F5;
		width:100%;
	}
		
	#page-contents form input.button:hover {
		background:#E53935;
		border-color: #BD2B36;
		color: #F5F5F5;
	}
	
#intro {
	background:#212121;
	color:#fff;
	padding-top:50px;
}

	#intro .row {
		margin-top:50px;
		margin-bottom:50px;
	}
	
	#intro .row .four.columns {
		text-align:center;
	}
	
	#intro .row .four.columns h1 {
		font-family:Roboto Slab;
		font-weight:bold;
		color:#BD2B36;
		font-size:5em;
		margin-bottom:0;
	}
	
	#intro .row .four.columns h4 {
		text-transform:uppercase;
	}
	
#business-areas {
	background:#F5F5F5;
	padding-top:50px;
		padding-bottom:50px;
}

#proj {
	background:#F5F5F5;
	padding-top:50px;
		padding-bottom:50px;
}

	#proj img {
		width:100%;
		border:5px solid #212121;
	}
	
#cert {
	background:#BD2B36;
	padding-top:50px;
	color:#f5f5f5;
		padding-bottom:50px;
}

	#cert .row {
		text-align:center;
	}

	#cert img {
		height:150px;
	}
	
#contact {
	background:#212121;
	color:#fff;
	padding-top:50px;
	text-align:center;
	padding-bottom:50px;
}

	#contact a {
		color:#fff;
		font-weight:bold;
		text-decoration:none;
	}
	
	#contact a:hover {
		color:#BD2B36;
	}

#proj .customer-logos.slider img {
	border:0px;
}

.map-responsive {
    overflow:hidden;
    padding-bottom:31.25%;
    position:relative;
    height:0;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    max-height:300px;
    position:absolute;
}
